/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
a {
    cursor:pointer;
}
header {
   position: fixed;
   top: 0;
   z-index: 1000;
   width: 100%;
   background: #eee1aa;
}

.content {
   padding-top: 40mm;
   margin-bottom: 30mm;
   height: 150vh;
   background: #fff;
}
@media screen and (max-width: 1280px) {
   .nav-container {
       width: 100%;
   }
}
@media screen and (max-width: 768px) {
   .tab-nav-label {
       display: grid;
       cursor: pointer;
       grid-column: 3;
       padding-right: 10px;
   }
   .tab-content {
       display: grid;
       grid-template-columns: 1fr;
       grid-column: 1/4;
       text-align: center;
       max-height: 0;
       overflow: hidden;
       transition: all ease-in-out 0.4s;
       -o-transition: all ease-in-out 0.4s;
       -webkit-transition: all ease-in-out 0.4s; 
   }
   .nav-checkbox input:checked ~ .tab-content {
       max-height: 400px;
   }
   .tab-content li {
       padding: 10px 0;
   }
}